@charset "UTF-8";
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.review-wrap {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.toc {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 200px;
    background-color: orange;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    visibility: visible; /* 초기에는 보이도록 설정 */
    opacity: 1; /* 불투명도로 보이도록 설정 */
    transition: visibility 0s, opacity 0.5s ease; /* 부드럽게 전환되도록 */
}

.toc a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.toc a:hover {
    text-decoration: underline;
}
.review-content {
    flex-grow: 1;
    padding-left: 20px;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.review-item:last-child {
    border-bottom: none;
}

.review-reg-col {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.review-reg-col2 {
    margin-bottom: 15px;
}

.review-reg-col2 img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

textarea, input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}
