@charset "UTF-8";

/* 모달창 스타일 */
.modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	width: 300px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-sizing: border-box;
}

.modal-content {
	width: 100%;
	text-align: center;
}

/* 닫기 버튼 */
.close-btn {
	color: white;
	font-size: 16px; /* 글자 크기 줄이기 */
	font-weight: bold;
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: lightgray; /* 빨간색으로 설정 (원하는 색으로 변경 가능) */
	border: none;
	border-radius: 50%;
	width: 25px; /* 크기 줄이기 */
	height: 25px; /* 크기 줄이기 */
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.close-btn:hover {
	background-color: gray; /* 호버 시 더 진한 빨간색 */
	transform: scale(1.1);
	color: white;
}

.close-btn:active {
	background-color: gray;
	transform: scale(0.9);
}
