@charset "UTF-8";

textarea#story {
    font-size: 14px; /* 텍스트 크기 */
    resize: none; /* 크기 조정 불가능하게 설정 */
    width: 300px; /* 고정된 너비 (원하는 값으로 설정) */
    height: 100px; /* 고정된 높이 (원하는 값으로 설정) */
    padding: 10px; /* 내부 여백 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 4px; /* 둥근 모서리 */
    background-color: #f9f9f9; /* 배경 색 */
    color: #333; /* 텍스트 색 */
}
